<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>

      </style>
  </head>
  <body>
    <footer>
      <div class="footer bg-dark" th:fragment="content">
            <p>2022&copy;k0pYR19h72 r353rv3d</p>
      </div>
    </footer>
  </body>
</html>