<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>H4xOR3r2 sU17C4s32!</title>
    <link rel="stylesheet" href="../css/bulma.min.css">
    <link rel="stylesheet" href="../css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div th:replace="header :: content"></div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container hero-forum has-text-centered">
                <div class="is-pulled-right has-text-centered ">
                    <div class="row" th:if="${authentication.getName()} eq ${post.getAuthor().getEmail()}">
                    </div>
                </div>
                <h1 class="title">
                    Thread from <span th:text="${post.getAuthor().getFirstName()}"></span>
                </h1>
                <h2 class="subtitle">
                    Let's see what he has to say!
                </h2>
                <div class="media-content box">
                    <div class="content list-forum has-text-centered">
                        <p class="title" style="color: black;" th:text="${post.getTitle()}"></p>
                        <p class="subtitle">
                        <div th:each="line: ${post.getContent().split('\n')}">
                            <p th:text="${line}"></p>
                        </div>
                        </p>
                        <p class="info-content">
                            <a>
                                <i><small>Date:</small></i>
                                <b
                                    th:text="${post.getCreated()} ? ${#calendars.format(post.getCreated(), 'HH:mm dd MMMM yyyy')}"></b>
                            </a>
                        </p>
                        <div class="col-md-12">
                            <a th:href="@{/posts/delete/} + ${post.id}" class="button is-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <div class="container">
        <h1 class="title">Comments</h1>
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="box forum" th:each="comment : ${post.getComments()}">
                    <article class="media">
                        <div class="media-content">
                            <div class="content list-forum">
                                <div class="is-pulled-right has-text-centered ">
                                    <h1 th:text="${comment.rating}" style="color: black"></h1>
                                    <a href="#" class="love">
                                        <span>
                                            <a class="button is-success"
                                                th:href="@{/comments/like/} + ${comment.id}">Like</a>
                                            <a class="button is-warning"
                                                th:href="@{/comments/dislike/} + ${comment.id}">Dislike</a>
                                            <a class="button is-danger" th:href="@{/comments/delete/} + ${comment.id}"
                                                th:if="${authentication.getName()} eq ${comment.getAuthor().getEmail()}">Delete</a>
                                        </span>
                                    </a>
                                </div>
                                <p class="text-content">
                                <div th:each="line: ${comment.getContent().split('\n')}">
                                    <p th:text="${line}"></p>
                                </div>
                                </p>
                                <p class="info-content">
                                    <a>
                                        <i><small>by</small></i>
                                        <b th:text="${post.getAuthor().getFirstName()}"></b>
                                    </a>
                                    <a>
                                        <i><small>Date:</small></i>
                                        <b
                                            th:text="${post.getCreated()} ? ${#calendars.format(post.getCreated(), 'HH:mm dd MMMM yyyy')}"></b>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="container bg-dark" sec:authorize="isAuthenticated()">
            <h1 class="title">Your reply</h1>
            <div class="column is-three-quarters">
                <article class="media">
                    <div>
                        <form th:action="@{/posts/} + ${post.id}" th:object="${newComment}" method="POST">
                            <div class="field is-grouped">
                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="red-text">
                                    Invalid
                                    content!</p>
                                <label>
                                    <textarea class="textarea is-medium" th:field="*{content}" type="text"
                                        style="min-width: 150%" id="content" placeholder="Description"
                                        rows="4"></textarea>
                                </label>
                            </div>
                            <div class="field is-grouped">
                                <button class="button is-medium is-info" type="submit">
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div th:replace="footer :: content"></div>
    <script src="../js/script.js"></script>
</body>

</html>