<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Post | Welcome to H4xOR3r2 sU17C4s32!</title>
    <link rel="stylesheet" href="../css/bulma.min.css">
    <link rel="stylesheet" href="../css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div th:replace="header :: content"></div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container hero-forum has-text-centered">
                <h1 class="title">
                    Create Post
                </h1>
                <h2 class="subtitle">
                    Post-post-post-post!
                </h2>
                <form th:action="@{/posts/new}" th:object="${newPost}" method="POST">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input is-medium" th:field="*{title}" type="text" placeholder="Enter topic">
                        </p>
                    </div>
                    <div class="field is-grouped">
                        <textarea class="textarea is-medium" th:field="*{content}" type="text" placeholder="Description"
                            rows="10"></textarea>
                    </div>
                    <div class="field is-grouped">
                        <button class="button is-medium is-info" type="submit">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:replace="footer :: content"></div>
    <script src="../js/script.js"></script>
</body>

</html>