<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Success</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
		body {
			background-image: url("images/background.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: white;
			text-align: center;
		}
	</style>
</head>
<body>
	<div th:replace="header :: content"></div>
	<div class="container text-center text-light">
		<h3>You have signed up successfully!</h3>
		<h4><a th:href="@{/login}">Click here to Login</a></h4>
	</div>
	<div th:replace="footer :: content"></div>
</body>
</html>