<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>H4xOR3r2 sU17C4s32!</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div th:replace="header :: content"></div>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container hero-forum has-text-centered">
				<h1 th:text="${message}"></h1>
				<h2 class="subtitle">
					Enjoy your stay!
				</h2>
			</div>
		</div>
	</section>
	<br />
	<div class="container">
		<div class="columns">
			<div class="column is-three-quarters">
				<div class="box">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<div class="field">
									<div class="control">
										<button th:href="@{/login}" class="button is-medium is-info">Click here to Login</button>
									</div>
								</div>
								</form>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<script src="js/script.js"></script>
</body>

</html>