<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forget password | H4xOR3r2 sU17C4s32!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container hero-forum has-text-centered">
            <h1 class="title">
                Forget password
            </h1>
            <h2 class="subtitle">
                Enter your OTP and new password here
            </h2>
        </div>
    </div>
</section>
<br />
<div class="container">
    <div class="columns">
        <div class="column is-three-quarters">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <form th:action="@{/reset_password}" method="post">
                                <div class="field">
                                    <label class="label">Enter OTP</label>
                                    <div class="control">
                                        <input type="text" class="input is-medium"
                                               name="otp" placeholder="Enter OTP">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Enter new password</label>
                                    <div class="control">
                                        <input type="password" class="input is-medium"
                                               name="newPassword" placeholder="Enter new password">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-medium is-info" type="submit">Enter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>
</body>

</html>