<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register | H4xOR3r2 sU17C4s32!</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container hero-forum has-text-centered">
				<h1 class="title">
					Register
				</h1>
				<h2 class="subtitle">
					You can register your account here!
				</h2>
			</div>
		</div>
	</section>
	<br />
	<div class="container">
		<div class="columns">
			<div class="column is-three-quarters">
				<div class="box">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<form th:action="@{/process_register}" th:object="${user}" method="post">
									<div class="field">
										<label class="label">email</label>
										<div class="control">
											<input type="email" name="email" th:field="*{email}" placeholder="Email" class="input is-medium"
												required />
										</div>
									</div>
									<div class="field">
										<label class="label">Password</label>
										<div class="control">
											<input type="password" name="password" placeholder="Password" th:field="*{password}"
												class="input is-medium" required minlength="8" />
										</div>
									</div>
									<div class="field">
										<label class="label">First Name</label>
										<div class="control">
											<input type="text" name="text" placeholder="First Name" th:field="*{firstName}"
												class="input is-medium" required minlength="2" maxlength="20" />
										</div>
									</div>
									<div class="field">
										<label class="label">Last Name</label>
										<div class="control">
											<input type="text" name="text" placeholder="Last Name" th:field="*{lastName}"
												class="input is-medium" required minlength="2" maxlength="20" />
										</div>
									</div>
									<div class="field">
										<div class="control">
											<button class="button is-medium is-info" type="submit">Sign Up</button>
											<a class="button is-medium is-light" th:href="@{/login}">Already have an account?</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<script src="js/script.js"></script>
</body>

</html>